<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.edu.tarc.ezcharge"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzCharge">

        <activity
            android:name=".Charging.ChargingPlateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Charging.ChargingSnackCartActivity"
            android:theme="@style/Theme.EzCharge.NoActionBar"/>
        <activity
            android:name=".Charging.ChargingSnackCartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Charging.ChargingSnackActivity"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingSnackActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Charging.ChargingSnackSelectorActivity"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Charging.ChargingPinActivity"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingPumpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Charging.ChargingScanActivity"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingScanActivity"
            android:exported="false"
            android:parentActivityName=".Charging.ChargingGuidelinesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingGuidelinesActivity"
            android:exported="false"
            android:parentActivityName=".Charging.ChargingSnackSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EzCharge.NoActionBar" />
        <activity
            android:name=".Charging.ChargingSnackSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EzCharge.NoActionBar"/>
        <activity
            android:name=".Rewards.RewardsFragment"
            android:exported="false" />
        <activity
            android:name=".Pay_TopUp.PayTopUpFragment"
            android:exported="false" />
        <activity
            android:name=".More.MoreFragment"
            android:exported="false" />
        <activity
            android:name=".Location.LocationFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EzCharge.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>